<div class="sidebar">
  <h2>Admin Panel</h2>
  <ul>
    <li><a routerLink="/admin">Dashboard</a></li>
    <li><a routerLink="/admin/currency">Currency</a></li>
    <li><a routerLink="/admin/users-access-control">Users Access Control</a></li>
    <li><a routerLink="/admin/users/details">Users</a></li>
    <li><a routerLink="/admin/delivery/create">Delivery</a></li>
    <li><a routerLink="/admin/delivery-method/create">Delivery Method</a></li>
    <li><a routerLink="/admin/orders/details">Orders</a></li>
    <li><a routerLink="/admin/products">Products</a></li>
  </ul>
</div>
