.sidebar {
  width: 211px;
  padding: 20px;
  background-color: #f36b5a;
  color: #fff;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  height: 100vh;

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;

    a {
      display: block;
      padding: 10px;
      color: #fff;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #d45243;
      }
    }
  }
}
