.newsletter-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f36b5a;
  padding: 1.5rem;
  color: white;
  margin-top: 33px;

  &__left {
    display: flex;
    align-items: center;

    &__icon {
      font-size: 2rem;
      color: #444;
      margin-right: 1rem;
    }

    &__text {
      font-size: 1.2rem;
      color: #444;
    }

    &__title {
      margin: 0;
      font-weight: bold;
    }

    &__description {
      margin: 0;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    &__form {
      display: flex;
      align-items: center;

      &__input {
        padding: 0.5rem;
        border: none;
        border-radius: 0.3rem;
        margin-right: 0.5rem;
        font-size: 1rem;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        outline: none;

        &:focus {
          border-color: #0099ff;
        }
      }

      &__button {
        padding: 0.5rem;
        border: none;
        border-radius: 0.3rem;
        background-color: #0099ff;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          background-color: #0077ff;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(0, 153, 255, 0.5);
        }
      }
    }
  }
}
