logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/

web_modules/

*.tsbuildinfo

dist

.npm

.yarn-integrity

.env
.env.production.local
.env.local

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

.DS_Store
build