<h1>Create user</h1>

<form [formGroup]="form" (ngSubmit)="onCreate()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" formControlName="firstName" required />
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" formControlName="lastName" required />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" required />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required />
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" id="country" formControlName="country" required />
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" formControlName="city" required />
    </div>
    <div class="form-group">
        <label for="birthdate">Birthdate</label>
        <input type="date" id="birthdate" formControlName="birthdate" required />
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <div class="radio-group">
            <label>
                <input type="radio" formControlName="gender" value="male" required />
                Male
            </label>
            <label>
                <input type="radio" formControlName="gender" value="female" required />
                Female
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="userDetails">User Details</label>
        <textarea id="userDetails" formControlName="userDetails" required></textarea>
    </div>
    <div class="form-group">
        <label for="role">Role</label>
        <select id="role" formControlName="roleId" required>
            <option value="">Select Role</option>
            <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
        </select>
    </div>

    <button type="submit" [disabled]="form.invalid">Create User</button>
</form>

<p *ngIf="isCreated">User created successfully!</p>
<p *ngIf="isNotCreated">User creation failed!</p>

<button class="show-users-btn" (click)="showAllUsers()">Show All Users</button>

<table *ngIf="showUsers" class="users-table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of user">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ getRoleName(user.roleId) }}</td>
            <td><button (click)="deleteUser(user.id)">Delete</button></td>
        </tr>
    </tbody>
</table>