.dashboard {
  padding: 20px;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5em;
  }

  p {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
}
