<div class="about-us">
    <div class="container">
        <div class="about-us__text">
            <p class="about-us__title">About us</p>
            <p class="about-us__info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, eius!
                Odit est corrupti ipsam quod consectetur sunt provident quos minima,
                ullam saepe. Harum illo doloribus labore ullam officiis impedit id.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
                quaerat officia minus deleniti quasi neque modi officiis, fugit magnam,
                obcaecati mollitia labore beatae eos alias pariatur harum adipisci
                reprehenderit consequatur.
            </p>
        </div>
        <p class="choose-us__title">Why choosing us</p>
        <div class="choose-us">
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />
                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />
                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />

                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />
                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="our-team">
            <p class="our-team__title">Our Team</p>
            <p class="our-team__info">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
                reprehenderit a necessitatibus vero atque
            </p>
        </div>
        <div class="our-team__members">
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />
                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />

                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />

                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />
                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>