<header class="navbar">
  <div class="navbar__left">
    <a routerLink="" class="navbar__title_a">
      <h1 class="navbar__title">Gjirafa50</h1>
    </a>
  </div>
  <div class="navbar__middle">
    <div class="navbar__routes">
      <a routerLink="" class="navbar__link">Home</a>
      <a routerLink="/about" class="navbar__link">About</a>
      <a routerLink="/product" class="navbar__link">Product</a>
      <a routerLink="/blog" class="navbar__link">Blog</a>
      <a routerLink="/contact" class="navbar__link">Contact</a>
    </div>
    <div class="navbar__search">
      <input type="text" placeholder="Search" />
      <button>Search</button>
    </div>
  </div>
  <div class="navbar__right">
    <a class="navbar__icon"><i class="fas fa-shopping-cart"></i></a>
    <a routerLink="chat" class="navbar__icon"><i class="fas fa-comment"></i></a>
  </div>
</header>