.main-container {
  padding: 15px;
  margin-bottom: 100px;
}

.top-search-container:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left,
.right {
  width: 25%;
}

.content {
  width: 45%;
}

.looking-for-text {
  justify-content: center;
  text-align: center;
  width: 100%;
}

.search-form {
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.search {
  margin: auto;
  max-width: 70%;
  box-shadow: 10px 10px 8px 10px whitesmoke;
}

form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 3px;
  float: left;
  width: 74.5%;
  height: 15px;
  background: white;
}

form.search button {
  float: left;
  width: 10%;
  height: 38px;
  padding: 10px;
  background: #f36b5a;
  color: white;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-left: none;
  cursor: pointer;
}

.left-button-icon {
  margin-right: 10px;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

.latest-search-paragraph {
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.latest-search-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.latest-content {
  margin-right: 5px;
}

.latest-search-content-button {
  width: fit-content;
  height: 40px;
  border-color: #ccc;
  background-color: #ccc;
  border-radius: 2px;
}

.filter-products-container {
  display: flex;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
.filter-container {
  width: 12%;
  padding: 10px;
  margin-left: 20px;
}

.products-container {
  width: 83%;
}

.products-information-filters {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.text-information {
  margin-left: 15px;
  float: left;
}

.icon-filter-information {
  display: flex;
  margin-right: 100px;
  float: right;
  text-align: right;
}
