.profile-data-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-left: 1px solid black;
}

.profile-data-container h2 {
  margin-top: 0;
}

.profile-data-container ul {
  margin-top: 20px;
  margin-bottom: 0;
}

.profile-data-container li {
  margin-bottom: 5px;
}
