<div class="profile-data-container">
  <h2>Profile data</h2>
  <p>On this page you can change your personal data and your account data which will be used during your online purchases in the future.</p>
  <p>
    In order to have the most secure and inaccessible account possible, we recommend that you do not create the password with characters or words that
    include:
  </p>
  <ul>
    <li>Words that exist in the dictionary of any language.</li>
    <li>Back spelled words, common spelling mistakes or abbreviations.</li>
    <li>Repeating characters, such as: 12345678, 222222, abcdefg, or letters of a line or string on the keyboard (eg, qwerty).</li>
    <li>Personal data, your name, date of birth, passport number, ID or similar data.</li>
  </ul>
</div>
