* {
  font-family: Arial, Helvetica, sans-serif;
}
.cart-content-container {
  margin: 20px;
  padding: 20px;
}
.mycart-title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}
.cart-checout-container {
  display: flex;
  margin: auto;
  width: 80%;
  padding: 10px;
}
.mycart-site {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number-circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid #f36b5a;
  color: #f36b5a;
  text-align: center;
  font: 20px Arial, sans-serif;
}
.checkout-number-circle{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  color: #ccc;
  text-align: center;
  font: 20px Arial, sans-serif;
}
.mycart-text {
  padding: 10px;
  background: #fff;
  color: #f36b5a;
  text-align: center;
  font: 20px Arial, sans-serif;
}
.hr {
  width: 50%;
  margin-top: 10px;
}
.checkout-site {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout-text {
  padding: 10px;
  background: #fff;
  color: #ccc;
  text-align: center;
  font: 20px Arial, sans-serif;
}
.filter-container {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #ccc;
}
.products-summary-content-container {
  padding: 20px;
  display: flex;
}
.products-container {
  width: 80%;
  padding: 10px;
  margin-left: 10px;
}
.product-image-content-container {
  width: 90%;
  border-top: 1px solid #ccc;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.select-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  padding: 5px;
}
.product-image-container {
  width: 30%;
  padding: 15px;
  margin-right: 15px;
}
.product-image {
  width: 180px; 
  height: 120px;
}
.product-content-container {
  display: flex;
  padding: 10px;
  margin-left: 10px;
  width: 80%;
}
.product-content {
  width: 100%;
}
.product-price {
  color: #f36b5a;
}
.product-delete {
  font-family: arial;
  font-size: 18px;
  margin: 25px;
  color: #f36b5a;
  /* Center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.add-remove-buttons {
  display: flex;
  margin-top: 20px;
}
.remove-button-container {
  margin-right: 10px;
}
.add-button-container {
  margin-left: 10px;
}
.add-button {
  background-color: #f36b5a;
  border-radius: 3px;
  border: #ccc;
  color: white;
  width: 30px;
  height: 30px;
}
.remove-button {
  background-color: #ccc;
  border-radius: 3px;
  border: #ccc;
  color: white;
  width: 30px;
  height: 30px;
}
.number-container{
  padding: 7px;  
  font-size: 14px;
}
.summary-content-container {
  width: 35%;
  padding: 10px;
  margin-right: 60px;
  margin-left: 30px;
}
.coupon-content {
  height: 10%;
}
#coupon-image{
  width: 28px;
  background-color: #f36b5a;
  border-radius: 3px;
  border: #ccc;
}
.coupon-button {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.summary-content {
  height: 50%;
  border: 0.4px gainsboro solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
}
.summary-title {
  margin-left: 10px;
  margin-bottom: 30px;
}
.total-price-container {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
.total-content {
  float: left;
  margin-left: 10px;
  width: 50%;
  font-size: 14px;
  color: grey !important;
}
.price-content {
  float: right;
  text-align: end;
  width: 50%;
  color: #f36b5a;
  margin-right: 15px;
}
.checkout-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout-button {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  background-color: #f36b5a;
  color: white;
  border: #ccc;
}
.continue-redirect {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: #f36b5a;
}
