* {
  font-family: Arial, Helvetica, sans-serif;
}
.content-container {
  padding: 20px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  background-color: whitesmoke;
  border: 0.5px;
  width: 80%;
}

.my-profile-container {
  margin-left: 40px;
  width: 20%;
}
.my-profile-title {
  justify-content: center;
  margin-bottom: 30px;
}

.account-details-container {
  margin-left: 70px;
  width: 80%;
}
.account-details-title {
  justify-content: center;
}
.account-details-form {
  display: flex;
}
.left-form-content {
  width: 40%;
  margin-right: 20px;
}
.right-form-content {
  width: 50%;
}
.button {
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border: #ccc;
  background-color: #f36b5a;
  color: white;
}
.save-button-form {
  width: 42%;
  float: right;
}
.input-form {
  width: 400px;
  height: 25px;
}
